body {
    font-family: mono;
}
div#container {
    width: 350px;
    text-align: center;
}
div.buttons {
    margin-top: 10px;
}
div.cell {
    height: 6px;
    width: 6px;
    margin-right: 1px;
    display: inline;
    float: left;
}
div.alive {
    background-color: #000000;
}
div.dead {
    background-color: #ffffff;
}
div.row {
    height: 7px;
    width: 350px;
    background-color: gray;
}
div#grid {
    border: solid 3px black;
    padding: 1px 0px 0px 1px;
    background-color: gray;
    width: 350px;
}
